.hero-wrapper{
    padding-bottom: 2rem;
    background-color: var(--black);
}
.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}
#hero-parent{
    width: 100%;
    background-color: red;
}
.hero-left{
    gap: 3rem;
    width: 50%;
}
.hero-bottom-info{
    width: 100%;
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.hero-des span{
    font-size: 20px;
}
.search-bar{
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120, 120, 120, 0.374);
    padding: 0.5rem 1rem;
    justify-content: space-between;
    width: 450px;
}
.search-bar> input{
    border: none;
    outline: none;
}
.stats{
    width: 100%;
    justify-content: space-between;
    
    flex-wrap: nowrap;
}
.stat>:nth-child(1){
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: orange;
}
.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}
.image-container>img{
    width: 100%;
    height: 100%;
}
.hero-botton-info-style{
    display: flex;
    row-gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1080px) {
    .hero-left{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .hero-left.flexColStart{
        align-items: center;
    }
    .hero-des span{
        font-size: 18px;
        text-transform: uppercase;
    }
    .hero-bottom-info{
        width: 85%;
    }
    #search-input{
        width: 90% !important;
    }
  }
@media only screen and (max-width: 640px){
    .hero-container{
        margin-top: 2rem;
    }
    .hero-title>h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .hero-left .hero-des{
        margin-bottom: -20px;
    }
    .hero-left .hero-des> span{
        font-size: 15px;
    }
    .image-container{
        width: 95%;
        height: 25rem;
    }
    .stats{
        justify-content: center;
        gap: 1.5rem;
    }
    .hero-right{
        width: 100%;
    }
    .stat>:nth-child(1){
        font-size: 1.5rem;
    }
    .stat>:nth-child(2){
        font-size: 0.8rem;
    }
    
    .hero-bottom-info{
        width: 100%;
    }
    #search-input{
        width: 100% !important;
    }
}
  
  .innerWidth {
    width: 100%;
  }
  
  .flexCenter {
    display: flex;
    row-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .flexColCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flexColStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .flexColEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  
  .primaryText {
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .secondaryText {
    color: rgb(140 139 139);
    font-size: 0.9rem;
  }
  .orangeText {
    color: orange;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  /* media queries */
  @media (min-width: 1536px) {
    .innerWidth {
      max-width: 1280px;
      margin: auto;
    }
  }
  
  @media (min-width: 640px) {
    .paddings {
      padding: 4rem;
    }
  }
  
  @media (min-width: 1280px), (min-width: 768px) {
    .paddings {
      padding: 2rem;
    }
  }
  
  @media (max-width: 640px) {
    .primaryText {
      font-size: 1.5rem;
    }
    .orangeText {
      font-size: 1.2rem;
    }
  }