.chef-parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0;
}
.swiper {
    width: 350px;
    height: 500px;
    margin: 0;
}
.experience{
    font-size: 16px;
}
.other-info{
    font-size: 17px;
}
.chef-img{
    width: 100%;
}
.chef-img img{
    width: 100%;
    height: 250px;
    object-fit:cover;
    object-position: 50% 10%;
}
.right-slider{
    width: 500px;
}
.type-animation{
    width: 500px;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#parent-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
#right-slider {
    margin-right: -100px;
    width: 32%;
}
@media screen and (max-width: 980px) {
    #parent-slider {
        flex-direction: column;
    }

    #right-slider {
        margin-left: 0;
        width: 100%;
    }
}